.Frame {
  stroke-opacity: 'none';
}

.memory_bar>rect {
  stroke: black;
  stroke-width: 1px;
}

.memframe>text {
  user-select: none;
}

.MemPageLines > path {
  stroke-width: 4px;
  fill: none;
}

.Page>rect {
  fill: white;
  stroke: #AAA;
  stroke-width: 2px;
}

.Page>text {
  fill: black;
}

.PageProcLines>line {
  stroke: #000;
  stroke-width: 2px;
}

.Process>rect {
  fill: #CCC;
}